.container-pai{
    display: inline-flex;    
    align-items: center;
    width: 1024px;
    margin: 0 auto;
}
.field-01, .field-02{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    

}
.radio-whats{
    display: inline;
}

.form{
    display: flex;
}

.btn_tela_cadastro{
    width: 100px;
    height: 80px;
    font-size: 16px;
}