.container-pai{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1024px;
    margin: 0 auto;
}
.field-01, .field-02{
    display: flex;
    flex-direction: column;
    gap: 10px;
    

}
.radio-whats{
    display: inline;
}