/* >>>>>>>>>> Container Contatos */
.contatos {
  width: 100%;
  max-width: 1440px;
  height: 22rem;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #3d3d3d; */
  margin: 0.5rem auto;
}

.contatos h1{
  font-style: italic;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 8px black;
  padding: 0 0 40px 0;
}

.section{
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

/* >>>>>>>>>> Link externo <<<<< */
.link_externo {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin: 0 !important;
  border-radius: 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.link_externo img {
  width: 50px;
  height: 50px;
}
.link_externo p, a {
  margin-top: 10px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 0px 7px #000;
}



