.container_main {
    box-sizing: border-box;
  width: 100%;
  margin: 32px auto;
  padding: 24px;
  /* background-color: aqua; */
}

.container_model {
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  /* background-color: rgba(0,0,0, 10%); */
}

.container_model p,
h2 {
  padding: 3px 0 0 10px;
}
